body {
    background-color: #A0BAE0;
    overflow: hidden;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    text-align: center;
    font-weight: 800;
    color: white;
    margin: 20px;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 320px;
    width: 50%;
    max-width: 700px;
    background-color: #EAEDF0;
    transition: transform 0.5s ease;
    margin: auto;
    z-index: -1;
}

input[type=text] {
    position: absolute;
    bottom: 104px;
    left: 48%;
    transform: translateX(-50%);
    background: linear-gradient(95.31deg, #EAEDF0 0.27%, #EAEDF0 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -3px 10px rgba(0, 0, 0, 0.35), inset 10px 9px 10px rgba(255, 255, 255, 0.65);
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 43%; /* 입력창의 너비를 늘려줍니다 */
    font-size: 16px;
    color: #333;
    padding: 10px;
    margin-right: 10px;
    z-index: 1;
}

.RUN {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    color: #191970;
    text-align: center;
    background: linear-gradient(95.31deg, #EAEDF0 0.27%, #EAEDF0 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -3px 10px rgba(0, 0, 0, 0.35), inset 10px 9px 10px rgba(255, 255, 255, 0.65);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    vertical-align: top;
    position: absolute;
    right: 25%; /* 입력창의 오른쪽에 배치합니다 */
    bottom: 100px;
}

.button-group {
    font-family: 'Archivo Narrow', sans-serif;
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    right: 50px;
}

.button1,
.button2,
.button3,
.button4,
.button5 {
    display: block;
    width: 170px;
    height: 40px;
    margin: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #191970;
    text-align: center;
    background: linear-gradient(95.31deg, #EAEDF0 0.27%, #EAEDF0 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -3px 10px rgba(0, 0, 0, 0.35), inset 10px 9px 10px rgba(255, 255, 255, 0.65);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}